@font-face {
	font-family: "azoftSans";
	src: url(../fonts/azoft-sans.ttf);
}

@font-face {
	font-family: "lucidaSans";
	src: url(../fonts/lucida-sans.ttf);
}

.button {
	height: 50px;
	line-height: 48px;
	border: 2px solid #5DBCD2;
	background: #5DBCD2;
	color: #888888;
	width: 100%;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 0 !important;
	font-family: "lucidaSans", sans-serif;
}

ul {
	list-style: none;
	list-style-position: outside;
}

.validate-required {
	background: #f5f5f5;
	border: none;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	font-weight: 500;
	margin-bottom: 24px;
	border-radius: 0;
	font-family: "lucidaSans", sans-serif;
}

.validate-textarea {
	width: 100%;
	border: none;
	background: #f5f5f5;
	margin-bottom: 24px;
	border-radius: 0;
	padding: 16px 20px;
	font-family: "lucidaSans", sans-serif;

}

.validate-email {
	background: #f5f5f5;
	border: none;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	font-weight: 500;
	margin-bottom: 24px;
	border-radius: 0;
	font-family: "lucidaSans", sans-serif;
}

.copyright {
	font-size: 11px;
	text-align: center;
	font-family: "azoftSans", sans-serif;
}

.logo {
	text-align: center;
}

.main {
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.main-image {
	height: auto;
	width: 90%
}

.main a {
	color: #888888;
}

.main img {
	margin: auto;
	border: 5px solid gray;
}

.main p {
	color: #888888;
}

.navigation {
	background-color: white;
	border-color: white;
	font-size: 14px;
	font-family: "azoftSans", sans-serif;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #777;
}

.navigation ul li:hover > a {
	border-bottom: 2px solid #EB9100;
}

.navigation ul li.current-menu-item > a {
	border-bottom: 2px solid #5DBCD2;
}

.navigation ul li.current-menu-item > a:hover {
	border-bottom: 2px solid #5DBCD2;
}

.nested-page-image {
	margin-bottom: 20px !important;
}

p {
	font-family: "lucidaSans", sans-serif;
}

#portfolio {
	margin: 1rem 0;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	column-gap: 1rem;
	-webkit-column-width: 33.33333333333333%;
	-moz-column-width: 33.33333333333333%;
	column-width: 33.33333333333333%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 350ms ease;
	background-color: white;
}

.tile {
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;
}

.text {
	color: black;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.tile:hover {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.tile:hover .overlay {
	opacity: 0.9;
	filter: alpha(opacity = 50);
}

.tile img {
	height: auto;
	width: 100%;
	padding: 6px;
	border: 1px solid gray;
}

span {
	font-family: "lucidaSans", sans-serif;
}

.scale-anm {
	transform: scale(1);
}

.btn {
	font-family: "lucidaSans", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	padding: .5rem 1rem;
	margin: 0;
	height: auto;
	border: 1px solid;
	vertical-align: middle;
	-webkit-appearance: none;
	color: #555;
	background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
	text-decoration: none;
}

.btn:focus {
	outline: none;
	border-color: var(--darken-2);
	box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}