@font-face {
	font-family: "azoftSans";
	src: url(../fonts/azoft-sans.ttf);
}

.copyright {
	font-size: 11px;
	text-align: center;
	font-family: "azoftSans", sans-serif;
}

.logo {
	text-align: center;
}

.main {
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.main-image {
	height: auto;
	width: 100%
}

.main a {
	color: #888888;
}

.main img {
	margin: auto;
}

.main p {
	color: #888888;
}

.navigation {
	background-color: white;
	border-color: white;
	font-size: 22px;
	font-family: "azoftSans", sans-serif;
}

.navigation ul li:hover > a {
	color: #d16f4e;
	-moz-text-decoration-color: #d16f4e;
	text-decoration: underline;
	text-decoration-color: #d16f4e;
}

.navigation ul li.current-menu-item > a {
	color: #d16f4e;
	-moz-text-decoration-color: #d16f4e;
	text-decoration: underline;
	text-decoration-color: #d16f4e;
}

.navigation ul li.current-menu-item > a:hover {
	color: #d16f4e;
	-moz-text-decoration-color: #d16f4e;
	text-decoration: underline;
	text-decoration-color: #d16f4e;
}